<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.auth.permission.dao.RoleOperationDao">

	<!-- Pms权限管理：用户角色表 -->
	<sql id="role_operation"> role_operation </sql>

	<resultMap id="beanMap" type="com.sky.auth.permission.domain.RoleOperation">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />
		<result column="operation_id" property="operationId" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="roleBeanMap" type="com.sky.auth.permission.domain.Role">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<!-- <result column="parent_id" property="parentId" jdbcType="VARCHAR" /> -->
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR"  />
		<result column="desc" property="desc" jdbcType="VARCHAR"  />
	</resultMap>
	
	<resultMap id="operationBeanMap" type="com.sky.auth.permission.domain.Operation">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR"  />
		<result column="url" property="url" jdbcType="VARCHAR"  />
		<result column="method" property="method" jdbcType="VARCHAR"  />
		<result column="description" property="description" jdbcType="VARCHAR"  />
	</resultMap>
	
	
	<insert id="insert" parameterType="com.sky.auth.permission.domain.RoleOperation">
		insert into
		<include refid="role_operation" />
		(id,version,status,create_time,role_id,operation_id)
		values
		(#{id},0,#{status},#{createTime},#{roleId},#{operationId})
	</insert>

	<select id="getById" parameterType="String" resultMap="beanMap">
		select * from
		<include refid="role_operation" />
		where id = #{id}
	</select>
	
	<select id="getByRoleIdAndOperationId" parameterType="com.sky.auth.permission.domain.RoleOperation" resultMap="beanMap">
	    select * from 
	    <include refid="role_operation" />
	    where role_id=#{roleId} and operation_id=#{operationId}
	</select>
	
	<delete id="deleteByRoleIdAndOperationId">
	    delete from 
	    <include refid="role_operation" />
	    where role_id=#{roleId} and operation_id=#{operationId}
	</delete>
	
	
	<update id="updateById" parameterType="com.sky.auth.permission.domain.RoleOperation">
		update
		<include refid="role_operation" />
		<trim prefix="set" suffixOverrides=",">
			version = #{version}+1,
  			<if test="status!=null">status=#{status},</if>
 		</trim>
		<where>
			id = #{id}
		</where>
	</update>

	<delete id="deleteById" parameterType="String">
		delete from
		<include refid="role_operation" />
		where id = #{id}
	</delete>
	
	<delete id="deleteByRoleId" parameterType="String">
		delete from
		<include refid="role_operation" />
		where role_id=#{roleId}
	</delete>
	
	<select id="getRolesByOperationId" parameterType="String" resultMap="roleBeanMap">
		select role.* from role_operation,role
		where operation_id = #{operationId} and role_operation.role_id=role.id
	</select>
	
	<select id="getOperationsByRoleId" parameterType="String" resultMap="operationBeanMap">
		select operation.* from role_operation,operation
		where role_id = #{roleId} and role_operation.operation_id=operation.id
	</select>
	
	<insert id="batchInsert" parameterType="com.sky.auth.permission.domain.RoleOperation">
		insert into
		<include refid="role_operation" />
		(id,version,status,create_time,role_id,operation_id)
		values
		 <foreach collection ="list" item="roleOperation" index= "index" separator =",">
		(#{roleOperation.id},0,#{roleOperation.status}, #{roleOperation.createTime},#{roleOperation.roleId}, #{roleOperation.operationId})
		</foreach >	
	</insert>
	
	<delete id="batchDelete" parameterType="String">
		delete from
		<include refid="role_operation" />
		where id in 
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
 		 #{item.id}  
 		</foreach>
	</delete>

	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="role_operation" />
	</select>
	
	<select id="searchOperationsByRoleId" resultMap="operationBeanMap">
		select operation.*
		from role_operation,operation
		where role_operation.operation_id=operation.id and role_operation.role_id=#{roleId}
	</select>
	
	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="role!=null and role.code != null and role.code != ''"> and code = #{role.code}</if>
		<!-- Like query -->
		<if test="role!=null and role.name != null and role.name != ''"> and name like CONCAT(CONCAT('%', #{role.name}), '%')</if>
		<!-- Like query -->
	</sql>

	<!--  
	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="role_operation" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by create_time desc
		limit #{from},#{size}
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from
		<include refid="role_operation" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	-->
</mapper>