<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.auth.permission.dao.UserDao">

	<!-- Pms权限管理：操作员表 -->
	<sql id="user"> user </sql>
	<sql id="user_role"> user_role </sql>
	<sql id="role"> role </sql>

	<resultMap id="beanMap" type="com.sky.auth.permission.domain.User">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="user_no" property="userNo" jdbcType="VARCHAR" />
		<result column="username" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR"  />
		<result column="email" property="email" jdbcType="VARCHAR"  />
		<result column="telephone" property="telephone" jdbcType="VARCHAR"  />
		<result column="mobile_telephone" property="mobileTelephone" jdbcType="VARCHAR"  />
		<result column="name" property="name" jdbcType="VARCHAR"  />
		<result column="salt" property="salt" jdbcType="VARCHAR"  />
		
		<result column="company_id" property="companyId" jdbcType="VARCHAR"  />
		<result column="dept_id" property="deptId" jdbcType="VARCHAR"  />
	</resultMap>
	
	<resultMap id="permissionBeanMap" type="com.sky.auth.permission.domain.Permission">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<!-- 
		<result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
		<result column="operation_id" property="operationId" jdbcType="VARCHAR" />
		 -->
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR"  />
		<result column="description" property="description" jdbcType="VARCHAR"  />
	</resultMap>
	
	<resultMap id="menuBeanMap" type="com.sky.auth.permission.domain.Menu">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR"  />
		<result column="icon" property="icon" jdbcType="VARCHAR"  />
		<result column="url" property="url" jdbcType="VARCHAR"  />
		<result column="is_leaf" property="isLeaf" jdbcType="VARCHAR"  />
		<result column="seq" property="seq" jdbcType="INTEGER"  />
		<result column="level" property="level" jdbcType="INTEGER"  />
		<result column="active" property="active" jdbcType="INTEGER"  />
		<result column="remark" property="remark" jdbcType="VARCHAR"  />
	</resultMap>
	
	<resultMap id="operationBeanMap" type="com.sky.auth.permission.domain.Operation">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
		<result column="app_name" property="appName" jdbcType="VARCHAR" />
		<result column="app_code" property="appCode" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR"  />
		<result column="url" property="url" jdbcType="VARCHAR"  />
		<result column="method" property="method" jdbcType="VARCHAR"  />
		<result column="description" property="description" jdbcType="VARCHAR"  />
	</resultMap>
	
	<insert id="insert" parameterType="com.sky.auth.permission.domain.User">
		insert into
		<include refid="user" />
		(id,version,status,create_time, user_no, username,password,name,salt,email,telephone,mobile_telephone)
		values
		(#{id},0,#{status}, #{createTime}, #{userNo},#{userName},#{password},#{name},#{salt},#{email},#{telephone},#{mobileTelephone})
	</insert>

	<select id="getById" parameterType="String" resultMap="beanMap">
		select * from
		<include refid="user" />
		where id = #{id}
	</select>
	
	<select id="getByUserNo" parameterType="String" resultMap="beanMap">
		select * from
		<include refid="user" />
		where user_no = #{userNo}
	</select>
	
	<select id="getByUserName" parameterType="String" resultMap="beanMap">
		select * from
		<include refid="user" />
		where username = #{userName}
	</select>
	
	<select id="getUserByUserNameAndPassword" parameterType="String" resultMap="beanMap">
	    select * from 
	    <include refid="user" />
	    where username=#{userName} and password=#{password}
	</select>
	
	<update id="update" parameterType="com.sky.auth.permission.domain.User">
		update
		<include refid="user" />
		<trim prefix="set" suffixOverrides=",">
			version = #{version}+1,
			<if test="userNo!=null">user_no=#{userNo},</if>
			<if test="userName!=null">username=#{userName},</if>
  			<if test="status!=null">status=#{status},</if>
  			<if test="password!=null">password=#{password},</if>
  			<if test="name!=null">name=#{name},</if>
  			<if test="salt!=null">salt=#{salt},</if>
  			<if test="email!=null">email=#{email},</if>
  			<if test="telephone!=null">telephone=#{telephone},</if>
  			<if test="mobileTelephone!=null">mobile_telephone=#{mobileTelephone},</if>
 		</trim>
		<where>
			id = #{id}
		</where>
	</update>

	<delete id="deleteById" parameterType="String">
		delete from
		<include refid="user" />
		where id = #{id}
	</delete>
	
	<delete id="deleteByIds">
		delete from
		<include refid="user" />
		where id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
 		 #{item}  
 		 </foreach>
	</delete>
	
	<!-- <delete id="batchDelete" parameterType="String">
		delete from
		<include refid="user" />
		where id in 
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
 		 #{item.id}  
 		</foreach>
	</delete> -->

	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="user" />
	</select>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="userNo != null and userNo != ''"> and user_no = #{userNo}</if>
		<if test="userName!=null and userName != ''"> and username = #{userName}</if>
		<!-- <if test="status != null and status != ''"> and status = #{status}</if>  -->
		<!-- <if test="type != null and type != ''"> and type = #{type}</if> -->
		<!-- Like query -->
		 <if test="name != null and name != ''"> and name like CONCAT(CONCAT('%', #{name}), '%')</if>
	</sql>

	
	<select id="listByRoleId" parameterType="String" resultMap="beanMap">
		select user.* from user,user_role where user.id=user_role.user_id and user_role.role_id=#{roleId}
	</select>
	
	<select id="search" parameterType="com.sky.auth.permission.domain.User" resultMap="beanMap">
		select * from 
		<include refid="user" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	
	<select id="searchPermissions" parameterType="com.sky.auth.permission.domain.Permission" resultMap="permissionBeanMap">
		select permission.* 
		from user_role,role_permission,permission
		where user_role.user_id=#{userId} and user_role.role_id=role_permission.role_id and role_permission.permission_id=permission.id
		<!-- Equal query -->
		<if test="permission!=null and permission.code != null and permission.code != ''"> and permission.code = #{permission.code}</if>
		<!-- Like query -->
		<if test="permission!=null and permission.name != null and permission.name != ''"> and permission.name like CONCAT(CONCAT('%', #{permission.name}), '%')</if>
		<!-- Like query -->
	</select>
	
	<select id="searchOperations" parameterType="com.sky.auth.permission.domain.Permission" resultMap="operationBeanMap">
		select operation.*,application.id as app_id,application.name as app_name,application.code as app_code
		from user_role,role_permission,permission_operation,operation,application
		where user_role.user_id=#{userId} and user_role.role_id=role_permission.role_id and role_permission.permission_id=permission_operation.permission_id and  permission_operation.operation_id=operation.id and operation.app_id=application.id
		<!-- Equal query -->
		<if test="operation!=null and operation.code != null and operation.code != ''"> and operation.code = #{operation.code}</if>
		<!-- Like query -->
		<if test="operation!=null and operation.name != null and operation.name != ''"> and operation.name like CONCAT(CONCAT('%', #{operation.name}), '%')</if>
		<!-- Like query -->
	</select>
	
	<select id="getAllOperations" parameterType="String" resultMap="operationBeanMap">
		select operation.*,application.id as app_id,application.name as app_name,application.code as app_code
		from user_role,role_permission,permission_operation,operation,application
		where user_role.user_id=#{userId} and user_role.role_id=role_permission.role_id and role_permission.permission_id=permission_operation.permission_id and  permission_operation.operation_id=operation.id and operation.app_id=application.id
	</select>
	
	<!-- 查询用户拥有的菜单 -->
	<select id="getMenus" parameterType="String" resultMap="menuBeanMap">
		select menu.* 
		from user,user_role,role_menu,menu 
		where user.id=#{userId} and user.id=user_role.user_id and user_role.role_id=role_menu.role_id and role_menu.menu_id=menu.id
		
		union
		
		select menu.*
		from user_role,role_permission,permission_menu,menu
		where user_role.user_id=#{userId} and user_role.role_id=role_permission.role_id and role_permission.permission_id=permission_menu.permission_id and permission_menu.menu_id=menu.id
	</select>
	
	
    <!--  
	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from 
		<include refid="user" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by create_time desc
		limit #{page.offset},#{page.limit}
	</select>

	<select id="listPageCount" parameterType="com.sky.auth.permission.domain.User" resultType="long">
		select count(1) from 
		<include refid="user" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	-->
</mapper>